<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
<!--        the next 4 properties shall be changed while you download this app from repo-->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">1</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>

        <property name="show_sql">false</property>
        <property name="generate_statistics">false</property>
        <property name="use_sql_comments">false</property>
<!--     create-drop for test purpose only. use validate for work purpose-->
        <property name="hbm2ddl.auto"> validate </property>

    </session-factory>
</hibernate-configuration>